
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<br />
<br />
<h2 style="background-color:aquamarine"> @ViewBag.message <a href="@Url.Action("RequestForAds","Advertisement")" class="glyphicon glyphicon-hand-right"></a></h2>

