
@{
    ViewBag.Title = "Index";
}

<body style="background-image:url(../Image/SiteResource/backgroundAds.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;overflow:hidden;">
    <div class="row">
        <div class="col-md-6" style="opacity:2; margin-top:30px; background: rgba(255, 255, 255, 0.5)">
            <h1>News Paper Advertise Management</h1>
            <p class="lead">Welcome To  News Paper Agency Here You can Request For Ads</p>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"style="opacity:2; margin-top:30px; background: rgba(255, 255, 255, 0.5)">
            <h2>
                Sign In or Register to Continue.............!
            </h2>
        </div>
    </div>


</body>

